* {
    -default-height: 38;
    -default-spacing: 5;
    -fx-font-size: 1.2em;
    -fx-cell-size: -default-height;
}

.default-height {
    -fx-min-height: -default-height;
    -fx-max-height: -default-height;
}

.app-spacing {
    -fx-spacing: -default-spacing;
}

.cell-id {
    -fx-alignment: CENTER-RIGHT;
    -fx-padding: 5 10 5 5;
}

.cell-button {
    -fx-padding: 0;
}

.cell-name {
    -fx-alignment: CENTER-LEFT;
    -fx-padding: 5 5 5 10;
}

.cell-level {
    -fx-alignment: CENTER;
    -fx-padding: 5 5 5 5;
}

.app-padding {
    -fx-padding: 5 5 5 5;
}

/* Setting table view */

.table-view {
    -fx-border-color: #d3d3d3;
    -fx-selection-bar: #6fa9e84d; /* cell separator */
    -fx-selection-bar-non-focused: #6fa9e84d; /* cell separator */
}

.table-row-cell:even {
    -fx-background-color: #d3d3d3;
}

.table-row-cell:hover, .table-row-cell:selected {
    -fx-background-color: #6fa9e880;
    -fx-text-fill: black;
}

.table-row-cell:selected .text {
    -fx-fill: black;
}

.table-row-cell .check-box .box, .table-row-cell:selected .check-box .box {
    -fx-background-color: white;
    -fx-border-color: #d3d3d3;
}

.table-row-cell.ChannelEnabled {
    -fx-background-color: lightcoral;
}

.table-row-cell.ChannelOnline {
    -fx-background-color: lightgreen;
}

.label.Error {
    -fx-text-fill: red;
}
